// @import "grid";

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 700px) {

  .fullscreen-bg__video {
    display: none;
  }
}

body {
  color: #fff;
}

nav {
  display: none;

  li {
    display: inline;
    padding: 12px 7px;
  }

  li:hover {
    color: #000;
    background-color: #fff;
    transition: background-color .7s;
    opacity: 0.5;
    cursor: pointer;
  }


  ul {
    float: right;
    margin: 2em 1em 1em;
  }

}

header {
  height: 800px;
  background-color: rgb(146,164,251);

  img {
    padding-top: 75px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .form-control {
    color: #000;
    height: 45px;
  }

  .input-group {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  h3 {
    margin: 2em 0 1em;
  }

  .input-group-addon {
    text-transform: uppercase;
  }

  .input-group-addon:hover {
    cursor: pointer;
    background-color: #e1e0e0;
  }

  .input-group-addon:focus {
   color: #000;
   background-color: #e1e0e0;
  }


  .col-md-12 {
    text-align: center;
  }
}

section {
  height: 500px;
  background-color: rgb(65,56,168);
}


@media screen and (min-width:  700px) {
  /* remember to change max/min 1024 */
  nav {
    display: block;
  }

  header {
  background-color: rgba(146,164,251, 0.7);

  }

  section {
  background-color: rgba(65,56,168, 0.5);

  }

}
