@import "grid";

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('../img/videoframe.jpg') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }
}

@media (min-width: 700px) {
  .example-style1 {
    /*
     * Styles for tablet size and larger here.
     * Here is where you would overwrite any base styles that you want to change
     * for this breakpoint.
     * Base styles are inherited here so no need to repeat formerly defined base
     * properties that will remain unchanged.
     * Write these styles 2nd.
     */
  }
}
@media (min-width: 1024px) {
  .example-style1 {
    /*
     * Styles for desktop size and larger here.
     * Here is where you would overwrite your base and tablet-size styles
     * that you want to change for this breakpoint.
     * Base styles and your 700px breakpoint styles (your tablet styles) are inherited
     * here so no need to repeat formerly defined properties that will remain unchanged.
     * Write these styles 3rd.
     */
  }
}