// @import "grid";

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 700px) {

  .fullscreen-bg__video {
    display: none;
  }
}

body {
  color: #fff;
}

nav {
  display: none;

  li {
    font-size: 1.2em;
    display: inline;
    padding: 12px;
  }

  li:hover {
    color: #000;
    background-color: #fff;
    transition: background-color .7s;
    opacity: 0.5;
    cursor: pointer;
  }


  ul {
    float: right;
    margin: 0.8em 0.1em 1em;
  }

}

header, section:nth-child(4) {
  background-color: rgb(146,164,251);

}

header {
  height: 800px;

  img {
    padding-top: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .form-control {
    color: #000;
    height: 45px;
  }

  .input-group {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    margin: 2em 0 1em;
    font-size: 28px;
  }

  .input-group-addon {
    background-color: #909090;
    color: #fff;
    text-transform: uppercase;
  }

  .input-group-addon:hover {
    cursor: pointer;
    background-color: #777;
    transition: background-color .7s;
  }

  .input-group-addon:focus {
   color: #000;
   background-color: #e1e0e0;
  }


  .col-md-12 {
    text-align: center;
  }
}

section {
  height: 800px;
  background-color: rgb(65,56,168);

  .slider {
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
  }
}

.unslider-nav ol li {
  width: 10px;
  height: 10px;
}

footer {
  height: 20px;
  background-color: #C5C5C5;
}

.fadeIn {
  background-color: #000;
  transition: 1s;
}

.fadeOut {
  background-color: initial;
  transition: 1s;
}


@media screen and (min-width:  700px) {
  /* remember to change max/min 1024 */
  header nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    display: block;
    height: 3.3em;
  }

  header, section:nth-child(4) {
  background-color: rgba(146,164,251, 0.7);

  }

  section {
  background-color: rgba(65,56,168, 0.5);

  }

}

